[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/JiuYu77/chirpier-static-assets.git

# [submodule "assets/lib"]
# 	path = assets/lib
# 	url = https://github.com/cotes2020/chirpy-static-assets.git
